@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');
@import '@fortawesome/fontawesome-free/css/all.min.css';

body{
  margin: 0%;
  font-family: 'Almarai', sans-serif;
}
#nav{
  width: 100%;
  height: 80px;
  border: none;

}
#foot{
  width: 100%;
  height: 300px;
  border-width: 0px;
  margin-bottom: -5px;
  margin-top: 20px;
}
#navUl{
  list-style-type: none;
  margin: 20px 20px 0px 12px;
  padding: 0;
  overflow: hidden;
}

.navbar {
  height: 80px;
  overflow: hidden;
  font-family: 'Almarai', sans-serif;
  background-image: url(image/nav.PNG);
  background-position-y: 10%;
  background-size: 100%;
}
.navbar a {
  float: right;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}
#brand {
  margin-top: 20px;
  width: 80px;
  float: left;
  padding: 9px 16px;
  margin-left: 10px;
}
#brand img{
  width: 80px;
}
  /* -----section dropdown----- */
.dropdown {
  float: right;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 12px 16px;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Almarai', sans-serif;
  margin: 0%;
}
.navbar a:hover, .dropdown:hover .dropbtn{
  color: #ffcb04;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #231F20;
  min-width: 160px;
  box-shadow: 0px 6px 10px 0px #231F20;
  overflow: visible;
  z-index: 1000;
} 
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
} 
.dropdown-content a:hover {
color: #ffcb04;
}
.dropdown:hover .dropdown-content {
display: block;
}
#deopIcon{
  margin-left: 5px;
}

  /* -----sgin in----- */
#signin {
  font-family: 'Almarai', sans-serif;
  font-size: 18px;
  width: 150px;
  height: 40px;
  padding: 10px 16px;
  float: right;
  border: 2px solid #ffcb04;
  border-radius: 30px;
}

#signin:hover {
  background-color: #ffcb04;
  color: white;
}
.navbar a.icon {
  display: none;
}


@media(min-device-width: 320px) and (max-device-width: 480px) {

.navbar a , .dropdown .dropbtn{
  display: none;
}
.navbar a.icon {
  margin-top: -6px;
  margin-right: -10px;
  font-size: 30px;
  float: right;
  display: block;
}
#brand {
  display: block;
  margin-left: auto;
  margin-right: auto;
} 
#signin {
  font-size: 13px;
  width: 120px ;
  float: left;
}
}


@media (min-device-width: 320px) and (max-device-width: 480px) {
.navbar.responsive {
  position: relative;
  height: 370px;}
.navbar.responsive .icon {
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.navbar.responsive a {
  font-size: 20px;
  float: none;
  display: block;
  text-align: center;
}
.navbar.responsive #navUl{ margin: 0px;}
.navbar.responsive .dropdown {float: none;}
.navbar.responsive .dropdown-content {
  position: relative;
  min-width: 0px;}
.navbar.responsive .dropdown .dropbtn {
  font-size: 20px;
  display: block;
  width: 100%;
  text-align: center;
}
.navbar.responsive #signin {
    font-size: 18px;
    float: right;
    width: 100%;
    margin-top: 10px;
}
.navbar.responsive #brand{
  align-items: center;
  float: none;
}
}

#home-img{
  margin-top: -15px;
  display: grid;
}

#home-text{
  margin-top: -45%;
  overflow: visible;
  z-index: 1000;
  text-align: center;
  color: white;
  font-family: 'Almarai', sans-serif;
}




.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
  background-color: #2d206c;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color:white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}




.BlogCard {
  width: 900px;
  height: 300px;
  background-color: #2d206c;
  display: grid;
  grid-template-columns: 67% 33%;
  margin: auto;
  border-radius: 20px;
  margin-top: 20px;
}
/* article image */
#BlogImg {
  width: 260px;
  height: 260px;
  margin: 10px 0px 0px 10px;
}
#BlogImgGird {
  margin-top: 10px;
  width: 280px;
  height: 280px;
  background-color: white;
  border-radius: 20px;
}
/* article text*/
.BlogCardCont {
  color: white;
  text-align: right;
  font-family: 'Almarai', sans-serif;
  font-size: 20px;
  margin-right: 15px;
}
#BlogTitle {
  font-size: 35px;
}
#BlogText{
  height: 110px;
}
#BlogButton {
  background-color: white;
  color: black;
  font-family: 'Almarai', sans-serif;
  font-size: 18px;
  width: 200px;
  height: 40px;
  padding: 10px 16px;
  float: left;
  border: 2px solid #ffcb04;
  border-radius: 30px;
  margin-left: 20px;
}

#BlogButton:hover {
  background-color: #ffcb04;
  color: white;
}



/* ----------- section style ------------ */

#sectionsTitle{
  font-family: 'Almarai', sans-serif;
  text-align: center;
  margin-top: 30px;
}
.sectionsGrid {
  width: 1088px;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: auto;
  margin-bottom: 30px;
}
#Vertical {
  border: 0px;
  background-color: #2E436D;
  border-radius: 20px;
  margin: 10px;
  width: 523px;
  height: 245px;
}

#Horizontal {
  border: 0px;
  background-color: #2E436D;
  border-radius: 20px;
  margin: 10px;
  width: 250px;
  height: 490px;
}
#Vertical:hover , #Horizontal:hover{
  background-color: #ffcb04;
}
/* for  Vertical*/
#sectionsImg1 {
  margin-top: -30px;
  margin-bottom: -10px;
  width: 250px;
}
/* for  Horizontal*/
#sectionsImg2 {
  margin-left: -35px;
  margin-top: -10px;
  width: 300px;
}
#Vertical h1{
  color:white;
  font-family: 'Almarai', sans-serif;
  margin-block-start: -0.5em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
#Horizontal h1{
  color:white;
  font-family: 'Almarai', sans-serif;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


@media (min-width: 320px) and (max-width: 480px) {
  .sectionsGrid {
      width: 100%;
      display: grid;
      grid-template-columns: none;
      grid-template-rows: auto;
      margin: auto;
  }
  #Vertical {
      margin: 5px;
      width: 97%;
      height: 165px;
  }
  #Horizontal {
      margin: 5px;
      width: 47%;
      height: 300px;
  }

  #sectionsImg1 {
      width: 195px;
  }
  #sectionsImg2 {
      margin-left: -25px;
      margin-top: -10px;
      width: 194px;
  }
  #h1{
      font-size: 18px;
  }
}


/*-------- foter -------- */

.gridFooter {
    font-family: 'Almarai', sans-serif;
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 25% 23% 23% 23%;
    background-color: #2c1d60;
}
.grid-item {
    margin: 20px 30px 30px 30px;
    color: white;
}
.grid-item a{
    font-family: 'Almarai', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.grid-item a:hover{
    color: #ffcb04;
}
#fotUl{
    padding-inline-start: 0px;
}
#liItem{
    list-style-type: none;
    text-align: center;
    padding-top: 30px;
}
#logoGrid {
    background-color: rgb(185, 185, 185);
    margin: 0px 0px 0px 0px;
    height: 300px;
}
#footerLogo {
    float: right;
    width: 120px;
    margin: 50px 30px 0px 0px;
}
#slogen {
    font-family: 'Almarai', sans-serif;
    padding-top: 60px;
    font-size: 30px;
    color:#2c1d60;
    text-align: center;
    margin: 50px 80px 0px 10px;
}
#h2, #p{
    margin-top: 30px;
    text-align: left;
}
#icon {
    font-size: 40px;
    margin: 100px 20px;
    color: white;
    border-radius: 20px;
}
#icon i {
    margin-left: 10px;
}


@media (min-width: 320px) and (max-width: 480px) {
    #fotUl{
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-inline-start: 0px;
    }
    .gridFooter {
        height: 520px;
        background-color: #231F20;
        grid-template-columns: none;
        grid-template-rows: 100px 220px 115px 85px;
    }
    #logoGrid {
        height: 100px;
    }
    #slogen {
        margin: 0;
    }
    #footerLogo {
        margin: 30px 20px 0px 0px;
    }
    .grid-item {
        margin: 10px 30px 10px 30px;;
    }
    #h2, #p{
        margin-block-start:0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    #icon {
        margin: 10px;
        text-align: center;
    }
    #liItem{
        padding-top: 15px;
    }
    #slogen {
        font-size: 23px;
    }
}


.grid{
  width: 85%;
  height: 600px;
  display: grid;
  grid-template-columns: 40% 60%;
  margin: auto;
  margin-left: 10%;
}
.grid p{
  text-align: right;
  padding: 250px 16px;
  font-size: 20px;

}

#section-grid{
  width: 85%;
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: auto;
}

.PhotoCard {
    margin: 30px auto 0px auto;
    width: 500px;
    height: 400px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s;
    background-color: #231F20;
    text-align: left;
}
.PhotoCard a{
    text-decoration: none;
}
.PhotoCard_image {
    width: 500px;
    height: 350px;
    border-radius: 20px;
}

.PhotoCard_image img {
    width: 494px;
    height: 275px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0px 1px 5px -1px #ffcb04;
    margin: 3px 0px 0px 3px;
}
.CompanyName {
    width: 120px;
    height: 30px;
    text-align: center;
    position: absolute;
    background: #2c1d60;
    color: #ffffff;
    padding: 8px 15px;
    font-size: 18px;
    border-radius: 30px;
    margin-top: 15px;
}
.CompanyName p{
    font-size: 20px;
    color:white;
    font-family: 'Almarai', sans-serif;
    margin-block-start: 3px;
    margin-block-end: 0em;
    margin-inline-start: 28px;
    margin-inline-end: 0px;
}
.free {
    width: 120px;
    height: 30px;
    text-align: center;
    position: absolute;
    background: #2c1d60;
    color: #ffffff;
    padding: 8px 15px;
    font-size: 18px;
    border-radius: 30px;
    margin-top: -15px;
}
.free p{
  font-size: 20px;
    color:white;
    font-family: 'Almarai', sans-serif;
    margin-block-start: 3px;
    margin-block-end: 0em;
    margin-inline-start: 28px;
    margin-inline-end: 0px;
}

#AccountPicture {
    margin-top: -25px;
    margin-left: -8px;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

    /* -------card text------- */
.PhotoCard .PhotoCard_text {
    font-family: 'Almarai', sans-serif;
    border-radius: 20px;
    margin-top: -68px;
}
.PhotoCard_text {
    padding-top: 5px;
    position: relative;
}

#PhotoCard_title , #PhotoCard_date {
    margin-block-start: 0.3em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-right: 20px;
    text-align: right;
    margin-bottom: 15px;
}
#PhotoCard_title {
    font-size: 30px;
    color: white;
}
#PhotoCard_date {
    margin-right: 35px;
    font-size: 20px;
    color: white;
}
#PhotoRating{
    position: absolute;
    font-size: 30px;
    margin-top: -48px;
    margin-left: 20px;
    color: white;
}
#PhotoRating:hover {
    color: #ffcb04;
}