{% extends "layout.html" %}
{% block content %}
<body>
    <section class="header" style="display: grid; grid-template-columns: 2fr 2fr ; margin: 5%; margin-bottom: 5%;">
        <div class="image">
            <div id="image">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_tzjfwgud.json"  background="transparent"  speed="1"  style="width: 95%; height: 100%;"  loop  autoplay></lottie-player>
            </div>
        </div>
        <div style="margin: 5% 0% 10% 0%;">
            <div id="slogan">
                <p style="text-align: right; font-size: 30px;">Xبيت</p>
            </div>
            <p style="text-align: right; font-size: 19px;">للأشخاص الذين يعانون من (صعوبة إيجاد الحرفي المناسب) يعمل (بيت اكس) كمنصة لتوفير سهولة الوصول الى حرفي مناسب ويقدم عرض نماذج لأعمال الحرفي وأسعاره ومكان تواجده ومعلومات اخرى</p>
            <div id="slogan">
                <p style="text-align: right; font-size: 30px;">cs50 iraq</p>
            </div>
            <p style="text-align: right; font-size: 19px;">هو الشريك الرسمي والشريك الوحيد لدورة CS50 ذات المستوى العالمي في العراق، والمعروفة بكونها اكبر دورة في العالم لعلوم الحاسبات وفن البرمجة، والتي تدرس في جامعات هارفارد وييل ثم توسعت إلى دول أخرى حول العالم </p>
            <div id="slogan">
                <p style="text-align: right; font-size: 30px;">المطورين</p>
            </div>
            <p style="text-align: right; font-size: 19px;">مريم قيس<br> عامر عباس </p>
        </div>
    </section>
</body>
{% endblock content %}