{% extends "layout.html" %}
{% block content %}
<section class="section gray-bg" id="blog">
  <div class="container" style="width: 100%; margin-top: -2%;">
      <div class="row justify-content-center" style="margin-bottom: 0%;">
          <div class="col-lg-7 text-center">
              <div class="section-title">
                  <p style="font-size: 30px;">اخر المنشورات</p>
                  <p style="font-size: 19px;">هنا تجد جميع المنشورات والمقالات التي ينشئها المحترف</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4" style="box-shadow: 0 0 30px rgba(197, 197, 197, 0.125);">
              <div class="blog-grid">
                  <div class="blog-img">
                    <div class="date"></div>
                      <a href="#">
                        <img id="pic" src="#">
                      </a>
                  </div>
                  <div class="blog-info">
                    <h2><a class="article-title" href=""></a></h2>
                      <div class="btn-bar">
                          <a href="" class="px-btn-arrow">
                              <span>المزيد</span>
                              <i class="arrow"></i>
                          </a>
                      </div>
                  </div>
              </div>
          </div> 
      </div>
  </div>
</section>
{% endblock content %}