{% extends "layout.html" %}
{% block content %}
<header>
<div>
<main style="margin: 5% 7% 0% 7%;">
<section class="header" style="position: relative;">
    <div class="image">
      <div>

      </div>
    </div>
    <div style="margin-top: 20%;">
        <div id="slogan">
            <p style="text-align: right; font-size: 45px; color: rgb(255, 255, 255);"><img src="{{url_for('static', filename='img/blogo.png')}}" style="width: 120px; height: 120px;"> مرحبا بكم في </p>
        </div>
        <p style="text-align: right; font-size: 30px; color: rgb(255, 255, 255);">هو مشروع من ضمن مشاريع المحطة الذي يوفر منصة اعمال لتسهل لك اختيار الشخص المناسب لاداء عملك</p>
        <div>
          <div>
            <a href='#section' class="btn btn-outline-info" id="b">
              الاقسام
            </a>
          </div>
        </div>
        <div >
          <form action="search" method="POST" class="d-flex" style="margin-top: 3%;" enctype="multipart/form-data">
            <input id="bar" class="form-control me-2" name="txt" type="search" placeholder="ابحث حسب التصنيف" aria-label="Search" style="text-align: right; border-radius: 15px">
          </form>
        </div>
    </div>
</section>
</main>
</div>
<div>
  
</div>
</header>
<main>
  <div class="container" id="section">
    <div class="row" style="width: 107%;">
        <div id="margin">
        <a id="it" href="" class="btn btn-outline-info">
          <div id="button" class="badge text-wrap">
            تكنولجيا المعلومات
          </div>
        </a>
        </div>
        <div id="margin">
          <a id="Languages" href="" class="btn btn-outline-info" >
            <div id="button" class="badge text-wrap">
              اللغات
            </div>
          </a>
        </div>
        <div id="margin">
          <a id="art" href="" class="btn btn-outline-info" >
            <div id="button" class="badge text-wrap" >
              الفنون 
            </div>
          </a>
        </div>
        <div id="margin">
          <a id="Innovation" href="" class="btn btn-outline-info" >
            <div id="button" class="badge text-wrap" >
              الابتكار  
            </div>
          </a>
        </div>
        <div id="margin">
          <a id="Sciences" href="" class="btn btn-outline-info" >
            <div id="button" class="badge text-wrap" >
               التنمية البشرية 
            </div>
          </a>
        </div>
        <div id="margin">
          <a id="Sciences" href="" class="btn btn-outline-info" >
            <div id="button" class="badge text-wrap" >
               العلوم الطبية 
            </div>
          </a>
        </div>
        <div id="margin">
          <a id="sport" href="" class="btn btn-outline-info" >
            <div id="button" class="badge text-wrap" >
              التغذية والرياضة
            </div>
          </a>
        </div>
        <div id="margin">
          <a id="law" href="" class="btn btn-outline-info" >
            <div id="button" class="badge text-wrap" >
              القانون
            </div>
          </a>
        </div>
        <div id="margin">
          <a id="Business" href="" class="btn btn-outline-info" >
            <div id="button" class="badge text-wrap" >
              ريادة الاعمال 
            </div>
          </a>
        </div>
      </div>
    </div>
</main>
{% endblock content %}
