{% extends "layout.html" %}
{% block content %}
<header>
<div>
<main style="margin: 5% 7% 0% 7%;">
<section class="header">
    <div class="image">
      <div>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_HX0isy.json"  background="rgba(0, 0, 0, 0)"  speed="1"  style="width: 90%; height: 90%;"  loop  autoplay></lottie-player>
      </div>
    </div>
    <div style="margin-top: 20%;">
        <div id="slogan">
            <p style="text-align: right; font-size: 45px;"><img src="{{url_for('static', filename='img/blogo.png')}}" style="width: 120px; height: 120px;"> مرحبا بكم في </p>
        </div>
        <p style="text-align: right; font-size: 30px;">هو مشروع من ضمن مشاريع المحطة الذي يوفر منصة اعمال لتسهل لك اختيار الشخص المناسب لاداء عملك</p>
        <div>
          <div>
            <a href="{{ url_for('all_post') }}" class="btn btn-outline-warning" id="b">
              المنشورات
            </a>
         </div>
        </div>
        <div>
          <div>
            <a href='#section' class="btn btn-outline-warning" id="b">
              الاقسام
            </a>
          </div>
        </div>
        <div >
          <form action="search" method="POST" class="d-flex" style="margin-top: 3%;" enctype="multipart/form-data">
            <input id="bar" class="form-control me-2" name="txt" type="search" placeholder="ابحث حسب التصنيف" aria-label="Search" style="text-align: right; border-radius: 15px">
          </form>
        </div>
    </div>
</section>
</main>
</div>
<div>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_kH8Xxk.json"  background="rgba(0, 0, 0, 0)"  speed="1"   loop  autoplay></lottie-player>
</div>
</header>
<main>
  <div class="container" id="section">
    <div class="row" style="width: 107%;">
        <div id="margin">
        <a id="paint" href="" class="btn btn-outline-warning">
          <div id="button" class="badge text-wrap">
            الصبغ
          </div>
        </a>
        </div>
        <div id="margin">
          <a id="finish" href="" class="btn btn-outline-warning" >
            <div id="button" class="badge text-wrap">
              الانهاءات
            </div>
          </a>
        </div>
        <div id="margin">
          <a id="wall" href="" class="btn btn-outline-warning" >
            <div id="button" class="badge text-wrap" >
              الجدران والارضيات
            </div>
          </a>
        </div>
        <div id="margin">
          <a id="cutters" href="" class="btn btn-outline-warning" >
            <div id="button" class="badge text-wrap" >
              القواطع الداخلية
            </div>
          </a>
        </div>
        <div id="margin">
          <a id="door" href="" class="btn btn-outline-warning" >
            <div id="button" class="badge text-wrap" >
              الأبواب و الشبابيك
            </div>
          </a>
        </div>
        <div id="margin">
          <a id="kitchen" href="" class="btn btn-outline-warning" >
            <div id="button" class="badge text-wrap" >
              المطابخ و التخزين
            </div>
          </a>
        </div>
        <div id="margin">
          <a id="bathrooms" href="" class="btn btn-outline-warning" >
            <div id="button" class="badge text-wrap" >
              الصحيات
            </div>
          </a>
        </div>
        <div id="margin">
          <a id="electricals" href="" class="btn btn-outline-warning" >
            <div id="button" class="badge text-wrap" >
              الكهربائيات
            </div>
          </a>
        </div>
        <div id="margin">
          <a id="construction" href="" class="btn btn-outline-warning" >
            <div id="button" class="badge text-wrap" >
              المقاولات العامة
            </div>
          </a>
        </div>
        <div id="margin">
          <a id="supervisor" href="" class="btn btn-outline-warning" >
            <div id="button" class="badge text-wrap" >
              الاشراف الهندسي
            </div>
          </a>
        </div>
        <div id="margin">
          <a id="internal" href="" class="btn btn-outline-warning" >
            <div id="button" class="badge text-wrap" >
              التصميم الداخلي
            </div>
          </a>
        </div>
        <div id="margin">
          <a id="buildings" href="" class="btn btn-outline-warning" >
            <div id="button" class="badge text-wrap" >
              تصميم المباني
            </div>
          </a>
        </div>
      </div>
    </div>
</main>
{% endblock content %}
