<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Almarai&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <ul>
    <a class="navbar-brand" href="{{ url_for('home') }}"><img src="{{url_for('static', filename='img/logo.png')}}"></a>
    <div id="nav">
    <li style="float:right"><a href="{{ url_for('home') }}">الرئيسية</a></li>
    <li style="float:right"><a href="{{ url_for('all_post') }}">المنشورات</a></li>
    <li style="float:right"><a href="{{ url_for('about') }}">من نحن</a></li>
  </div>
  </ul>
{% block content %}
{% endblock %}

<footer>
  <div class="container" style="text-align: left;">
  <div id="footer" style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; ">
    <div style="margin: 3% 0% 0% -20%;">
      <p style="color: white;">هي منصة تسهل لك حياتك في اختيار ما تريد</p>
    </div>
    <div style="margin: 10% 10% 10% 10%;">
      <h4 style="color: white;">links</h4>
      <nav class="nav flex-column">
        <a id="fot" href="{{ url_for('home') }}">- Home</a>
        <a id="fot" href="{{ url_for('all_post') }}">- Post</a>
        <a id="fot" href="about">- About</a>
      </nav>
    </div>
    <div style="margin: 10% 10% 10% 10%;">
      <h4 style="color: white;">address</h4>
      <p style="color: white;">22, Lorem ipsum dolor, consectetur adipiscing</p>
      <p class="mb-0" style="color: white;"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
      <p style="color: white;"><i class="fa fa-envelope-o mr-3"></i>info@hsdf.com</p>
    </div>
    <div style="margin: 10% 10% 10% 10%;">
      <h4 style="color: white;">follow us</h4>
    </div>
  </div>
</div>
</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
