.navbar-brand img{
    width: 80px;
  }
  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -8PX;
  }
  ul {
    list-style-type: none;
    margin: 18px;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    color: #ffffff;
    display: block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    font-size: 110%;
    color: #FFCB04;
  }