<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <!--navbar-->
  <ul>
    <a class="navbar-brand" href="{{ url_for('home') }}"><img src="{{url_for('static', filename='img/logo.png')}}"></a>
    <div id="nav">
    <li style="float:right"><a href="{{ url_for('home') }}">الرئيسية</a></li>
    <li style="float:right"><a href="{{ url_for('all_post') }}">المنشورات</a></li>
    <li style="float:right"><a href="{{ url_for('about') }}">من نحن</a></li>
      <div>
        {% if current_user.is_authenticated %}
        <div class="dropdown pmd-dropdown pmd-user-info " style="position: absolute;">
          <a href="javascript:void(0);" class="btn-user dropdown-toggle media align-items-center" data-toggle="dropdown" data-sidebar="true" aria-expanded="false" style="margin-top:-5px;">
            <!-- here the profile dont show !-->
            <img  class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" style="width: 50px; height: 50px;">
              <div class="media-body" style="flex: 0;">
                <p style="width: 140px; color: white; margin-top: 13px; margin-left: 5%;">{{ current_user.username }} ▼</p>
              </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" role="menu" style="margin-left: 95%; margin-top: -10%;">
              {% if current_user.job == 'صاحب مشروع' %}
                  <a class="dropdown-item"  href="{{ url_for('account', username=current_user.username) }}">حسابي</a>
              {% endif %}

              {% if current_user.job != 'صاحب مشروع' %}
              <a class="dropdown-item"  href="{{ url_for('user_posts', username=current_user.username) }}">حسابي</a>
              <a class="dropdown-item"  href="{{ url_for('new_post') }}">منشور جديد</a>
              {% endif %}
              <a class="dropdown-item"  href="{{ url_for('logout') }}">تسجيل خروج</a>
          </ul>
        </div>
        {% else %}
        <li style="float:left"><a href="{{ url_for('register') }}">تسجيل حساب</a></li>
        <li style="float:left"><a href="{{ url_for('login') }}">تسجيل الدخول</a></li>
        {% endif %}
      </div>
  </div>
  </ul>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</body>
</html>
